.pc-inp-date {
  width: calc(100% - 90px);
  height: 54px;
  border: none;
  text-align: right;
  background: url(../images/select.png) no-repeat right 10px center;
  padding-right: 25px;
  display: inline-block;
}

.ht-form form div fieldset {
  position: relative;
}

.ht-form form div fieldset:first-child {
  width: 238px !important;
}

.ht-form form div fieldset:last-child {
  width: 355px !important;
}

.ht-form form div {
  width: auto;
  background: #fff;
}

.h3-noTextR-pc {
  padding: 15px 50px 15px 0;
}

.span-top-pc {
  margin-top: 2px;
  display: inline-block;
  font-size: 20px;
}

.search-good li {
  overflow: hidden;
}

.search-good li {
  width: auto;
}

.h-logo {
  width: auto;
}

.t-conten-2 {
  margin-top: 0;
}

.ul-menu-main li a {
  font-size: 12px!important;
  padding-left: 0!important;
}

.paging ul li a:hover,
.paging ul li a.active {
  width: 36px;
  height: 36px;
}

.img-pc-fix {
  max-height: 430px;
  max-width: 100%;
}

.min-he-pc-80 {
  min-height: 80px;
}

.wid-100 {
  width: 100%;
}

.t-sub p a {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-186px {
  width: 186px;
  height: 186px;
  object-fit: cover;
}


/*-----area-----*/

.sp-container-bdRed {
  border-top: 2px solid #c3000b;
}

.sp-container-bdRed h3 {
  margin-bottom: 0;
}

.list-area {
  margin: 0 5px;
  padding: 0;
  display: block;
}

.list-area li {
  color: #888888;
  font-size: 16px;
  text-align: left;
  display: block;
  border-bottom: 1px solid #ececec;
}

.list-area li a:hover {
  text-decoration: inherit;
}

.list-area li a {
  padding: 15px 5px;
  display: block;
  color: #888888;
  background: url(../images/icon-arrow-down-area.png) no-repeat right center;
  background-size: 16px;
}

.list-area li.active a {
  background: url(../images/icon-arrow-up-area.png) no-repeat right center;
  background-size: 16px;
}

.list-area li ul {
  display: none;
}

.list-area li ul li a {
  padding-left: 20px;
  background: url(../images/icon-arrow-right-area.png) no-repeat right 5px center !important;
  background-size: 8px !important;
}

.list-area li ul li:first-child {
  border-top: 1px solid #ececec;
}

.list-area li ul li:last-child {
  border: none;
}


/*modal*/

.area-header {
  text-align: center;
  border-bottom: 3px solid #916a41;
}

.area-header .modal-title {
  font-size: 17px;
  width: calc(100% - 73px);
}

.area-header .close {
  float: left;
  font-size: 16px;
  font-weight: normal;
  ;
  color: #916a41;
  opacity: 1;
  margin: 0;
  line-height: inherit;
}

.area-footer {
  border: none;
  text-align: center;
  padding-top: 0;
}

.area-footer .btn-greend {
  width: 100%;
  background: #e0f5b2;
  border: 3px solid #b3d867;
  padding: 10px;
  font-size: 16px;
  color: #627e28;
  margin-left: 0 !important;
}

.area-footer .btn-whiteback {
  background: #f3efe9;
  border: 3px solid #e4dbce;
  margin-bottom: 15px;
  color: #826444;
}

.p-button-whiteback {
  background: #f3efe9;
  border: 3px solid #e4dbce;
  font-weight: normal;
}

.p-button-whiteback a.arrow-down {
  color: #826444;
  background: url(../images/2.png) no-repeat left center;
  background-size: 20px;
  padding-left: 27px;
  display: inline-block;
}

.area-body fieldset {
  display: block;
  margin-bottom: 20px;
}

.area-body label {
  color: #888;
  font-size: 16px;
  display: block;
  text-align: left;
  margin-bottom: 3px;
}

.area-body select {
  border: 1px solid #a8a8a8;
  background: url(../images/icon-arrow-select.png) no-repeat right center;
  background-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  display: block;
  height: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-indent: 10px;
  color: #555;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.area-body select.select-w40 {
  width: 40%;
}

.area-body .radio-check {
  border: 1px solid #a8a8a8;
  height: 45px;
  width: 100%;
  display: inline-block;
  padding: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.area-body .radio-check50 {
  width: calc(100% - 40% - 5px);
}

.area-body .radio-check-wauto {
  width: auto;
  margin-bottom: 5px;
}

.icon-nocheck {
  background: url(../images/icon-nocheck.png) no-repeat left center;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  float: left;
  color: #555;
  background-size: 20px;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.active-check {
  background: url(../images/icon-check.png) no-repeat left center;
  background-size: 20px;
  border: none;
}

.area-gps {
  border: 1px solid #a8a8a8;
  height: 45px;
  width: 100%;
  display: inline-block;
  padding: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url(../images/icon-arrow-right-area2.png) no-repeat right center;
  background-size: 17px !important;
  margin-bottom: 20px;
}

.area-gps span {
  background: url(../images/icon-gps-form.png) no-repeat left center;
  padding-left: 30px;
  background-size: 15px;
  height: 22px;
  display: inline-block;
}

.area-name span {
  background: url(../images/icon-name-form.png) no-repeat left center;
  background-size: 18px;
}

.h3-noTextR {
  padding-right: 0;
}

.h3-noTextR a {
  color: #916a41;
}

h3 span.text-g {
  display: inline-block;
  margin-left: -71px;
}


/*------area-----*/

.fix-color {
  background: #efefef;
}

.fix-color-2 {
  background: #e2e2e2;
}

#slider-wrapper {
  width: 100%;
  height: 798px;
}

#slider {
  width: 100%;
  height: 799px;
  position: relative;
}

.sp {
  width: 100%;
  height: 799px;
  position: absolute;
}

#nav {
  margin-top: 20px;
  width: 100%;
}

#button-previous {
  float: left;
}

#button-next {
  float: right;
}

.pos-absolute {
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -480px;
}

.bg-top-1 {
  background: url(../images/top-banner.jpg);
  background-size: cover;
}

.bg-top-2 {
  background: url(../images/top_image_02.png);
  background-size: cover;
}

.bg-top-3 {
  background: url(../images/top_image_03.jpg);
  background-size: cover;
}

#button-previous {
  background: url(../images/prevv-button.png);
  width: 70px;
  height: 70px;
  background-size: 70px;
  position: absolute;
  top: 47%;
  left: 20px;
  cursor: pointer;
}

#button-next {
  background: url(../images/next-button.png);
  width: 70px;
  height: 70px;
  background-size: 70px;
  position: absolute;
  top: 47%;
  right: 20px;
  cursor: pointer;
}

.t-li2 {
  padding: 0;
}

.ht-form form div.div-w-form {
  width: 409px;
}

.ht-form form {
  width: 490px;
}

.ul-menu-main-2 li a {
  font-size: 11px!important;
  padding-left: 0!important;
}

.ul-menu-main-2 {
  width: 100%;
}

.ul-menu-main-2 li {
  float: left;
  width: 25%;
}

.ul-menu-main-2 li a {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #916a41;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
  height: 40px;
  line-height: 40px;
}

.ul-menu-main-2 li {
  /* width: 14.2858% !important; */
}

.ul-menu-main-2 li:nth-child(2n+1) a {
  background-color: #f4efe9;
}

.ul-menu-main-2 li:nth-child(2n) a {
  background-color: #eee7df;
}

.ul-menu-main-2 .active {
  background-color: #d7c5b1 !important;
}

.ht-form {
  width: 520px;
  margin: 0 auto;
}

.ul-sidebar .text-150 {
  font-size: 14px !important;
  color: #916a41 !important;
  display: block !important;
  margin-bottom: 5px !important;
  margin-top: -2px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  text-align: center;
}

.ul-fix-padding {
  padding: 0 10px!important;
  width: auto!important;
}

.new-item-nav li {
  vertical-align: middle;
}

.new-p-button {
  margin-bottom: 0px !important;
}

.favorite.active-color {
  border: 2px solid #fa6084 !important;
  background: #fa6084 !important;
  color: #fff !important;
}

.span-412 {
  font-size: 12px;
  color: #fa6084;
  display: inline-block;
  background: url(../images/like.png) no-repeat 10px 2px;
  background-size: 25px;
  padding-top: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
  margin-top: 6px;
}

.span-t2 {
  font-size: 14px;
  color: #fa6084;
  display: inline-block;
  margin-top: 8px;
  margin-left: -10px;
}

.active-color .span-412 {
  background: url(../images/like-active.png) no-repeat 10px 2px;
  background-size: 25px;
  color: #fff;
}

.active-color .span-t2 {
  color: #fff;
}

.posrelative {
  position: relative;
}

.divArea,
.divGenre {
  width: 670px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 293px;
  display: none;
  z-index: 99;
}

.divArea, .divGenre {
  width: 720px;
}

.over {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  display: none;
  opacity: .5;
  z-index: 9;
  cursor: pointer;
}

.table-sidebar {
  width: auto;
}

.mar-top-110px {
  width: 242px;
  margin-top: 110px;
}

.t-show-ul-2 {
  border-bottom: none;
  background: #fff;
}

.t-find-sweets-2 {
  margin-bottom: 0;
}

.t-ul-2 {
  margin-top: 9px;
}

.mrB0-2 {
  padding-bottom: 0px!important;
}

.s-tt-pc {
  font-size: 18px!important;
  color: #916a41!important;
  display: inline-block!important;
  background: url(../images/s-tt.png) no-repeat left center!important;
  padding-left: 23px;
  margin-top: 20px;
  height: 41px!important;
  line-height: 41px!important;
  margin-left: 10px!important;
}

.t-find-sweets-2 ul li.active {
  height: 44px;
}

.divArea::before,
.divGenre::before {
  content: '';
  display: block;
  position: absolute;
  top: 54px;
  left: -20px;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.w-auto {
  width: auto!important;
  padding-left: 5px!important;
}

.p-tt-gen {
  color: #916a41;
  font-size: 16px;
}

.ul-list-gen1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ul-list-gen1 li {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.ul-list-gen1 li a {
  height: 30px;
  border: 1px solid #dfd7cc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}

.divGenre {
  top: 97px;
}

.span-txt-pc-genre {
  background: #916a41!important;
  color: #fff!important;
}

.title-top-u-2 {
  border-color: #916a41!important;
}

.show-root-genre-pc {
  color: #916a41!important;
}

.ul-list-genre-pc {
  margin-top: 10px;
}

.ul-list-genre-pc li {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.ul-list-genre-pc li a {
  height: 30px;
  border: 1px solid #dfd7cc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}

.cursor-ponter {
  cursor: pointer;
}

ul.t-path li.t-path-list a {
  color: inherit;
}

.w-100 {
  width: 100% !important;
}

.new-padding {
  padding: 10px 18px !important;
}

input#size3:checked~label[for="size3"]::after,
input#size4:checked~label[for="size4"]::after,
input#size5:checked~label[for="size5"]::after,
input#size6:checked~label[for="size6"]::after,
input#size7:checked~label[for="size7"]::after,
input#size8:checked~label[for="size8"]::after,
input#parking:checked~label[for="parking"]::after,
input#gift_wrapping:checked~label[for="gift_wrapping"]::after,
input#character_cake:checked~label[for="character_cake"]::after,
input#credit_card:checked~label[for="credit_card"]::after,
input#presence_coupon:checked~label[for="presence_coupon"]::after {
  display: inline-block;
}

.div-eff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  transition: all 0.3s;
}

.wp-div-eff {
  width: 960px;
  margin: 0 auto;
}

.div-eff {
  background: #fff;
}

.div-eff .ht-menu-top li a {
  color: #000;
}

.div-eff .ht-menu-top li a:hover {
  color: red;
  text-decoration: underline;
}

.mar-14 label {
  margin-right: 0 !important;
  width: 135px;
}

.mar-14 label.character_cake {
  width: 145px;
}

.ht-logo {
  background: url(../../mobile/images/logo-new.png) no-repeat 5px 5px;
  background-size: 124px 50px;
  width: 129px;
  height: 55px;
}

.div-eff .ht-logo {
  background: url(../images/top-logo_wo_white_1.png) no-repeat center center;
  background-size: 135px 60px;
  width: 135px;
  height: 60px;
}

.pos-rel-pc {
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg-top-gps.png) no-repeat center top;
  font-size: 14px;
  text-align: right;
  color: #fff;
  padding-top: 10px;
  padding-right: 5px;
  height: 65px;
  width: 65px;
  padding-top: 5px;
  padding-right: 3px;
  background-size: 65px;
  font-size: 12px;
  padding-right: 10px;
  padding-top: 13px;
}

.number-style {
  font-size: 10px;
  padding-right: 3px;
}

.bg-ms {
  background: url(../images/ms.png) no-repeat left center;
  padding-left: 25px;
  height: 18px;
  background-size: 20px 18px;
  display: inline-block;
  line-height: 18px;
  vertical-align: bottom;
  margin-left: 10px;
}

.t-conten {
  /* min-height: calc(100vh - 80px - 142px); */
}

.table-star {
  display: inline-block;
  vertical-align: top;
}

.table-star tr td {
  color: #cb9627;
  font-weight: normal;
  font-size: 12px;
  padding: 4px 10px;
}

.img-comment {
  float: left;
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 20px;
}

.bor-radi-5 {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.lb-close {
  display: none!important;
}

.p-button-gray {
  background: #f3efe9!important;
  border: 3px solid #e4dbce!important;
  color: #826444!important;
}

#slider .sp {
  display: none;
}

#slider .active {
  display: block!important;
}

.h-input-freeword {
  width: 100%;
  margin-bottom: 15px;
}

.img-404 {
  margin: 200px auto;
  display: block;
}
