/* CSS Document */
/*==========  header  ==========*/

header {
  background: none;
  height: auto;
  padding: initial;
  width: initial;
  text-align: initial;
  display: initial;
}

.header-sp .header_top {
  z-index: 1000;
  display: inline-block;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.header-sp .header_top a {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.drawer-nav {
  top: 72px!important;
  background: #000!important;
}

.drawer-overlay {
  top: 73px!important;
}

.drawer-menu li a {
  text-align: center;
  padding: 10px 0;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.btn_conteiner {
  margin-top: 20px;
}

.btn_conteiner li {
  position: relative;
  align-items: center;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto 10px;
}

.btn_conteiner li a {
  padding: 9px;
}

.btn_conteiner li a.online::before {
  content: "";
  background: url(../mobile/images/icon_online.png) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 15px;
  height: 18px;
  vertical-align: text-top;
  margin-right: 5px;
}

.btn_conteiner li a.web::before {
  content: "";
  background: url(../mobile/images/icon_phone.svg) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 12px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 8px;
}

.header_bottom {
  padding-top: 72px;
}

.header_bottom .header_line p {
  background: #c4003d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.header_bottom .headerline_btn {
  display: flex;
  z-index: 1000;
  padding: 0;
}

.header_bottom .bottom_look {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.header_bottom .headerline_btn li {
  width: calc(100%/2);
  background: #545454;
  position: relative;
}

.header_bottom .headerline_btn li a {
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  padding: 15px 0;
  display: inline-block;
  font-size: 12px;
}

.headerline_btn li:first-child::after {
  content: "";
  width: 1px;
  height: 90%;
  display: block;
  background: #fff;
  position: absolute;
  top: 5%;
  right: 0;
  opacity: .5;
}

.header_bottom .headerline_btn li a.shoplist::before {
  content: "";
  background: url(../mobile/images/icon_shoplist.png) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 18px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 8px;
}

.header_bottom .headerline_btn li a.cart::before {
  content: "";
  background: url(../mobile/images/icon_cart.png) no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  margin-right: 8px;
}

.header_bottom li {
  display: inline-block;
}

.header_bottom li span {
  font-size: 11px;
}

.header_bottom .t-path {
  padding: 0 15px;
  margin-top: 10px;
}

.header_bottom .t-path-list a {
  color: #000;
  font-size: 11px;
}

.header_bottom .t-path-list a::after {
  content: ">";
  display: inline-block;
  margin-left: 5px;
}

.drawer-hamburger {
  position: fixed!important;
  z-index: 99999!important;
	width: 32px;
}

&.drawer--right.drawer-open .drawer-hamburger {
  right: 0!important;
}

/*==========  商品紹介  ==========*/

  .product-comment p {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .product-comment p.c_red {
    color: #FF0000;
  }

  .product-comment p.text_right {
    color: #FF0000;
    display: block;
    text-align: right;
  }

  .product-detail .getDay {
    color: #000;
  }

 .product-detail .div-price-by-size .div-item-price-by-size {
    background: #fff;
    border: solid 1px #000;
    margin: 0;
    + .div-item-price-by-size {
      margin-top: 10px;
    }
  }

 .css-new .div-item-price-by-size .reservation-btn {
    background: #c4003d;
  }

/*==========  店舗紹介  ==========*/

  .css-new .shop-info {
    background: #e5e5e5;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
  }

  .shop-info .map-btn a {
    background: #c4003d;
  }

  .css-new .shop-info .map-btn {
    margin-top: 0;
  }

  .css-new .shop-info .info-wrap:before {
    content: none;
  }

  .shop_notice {
    text-align: left;
  }

  .shop_notice p {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .shop_notice a {
    color: #c4003d;
  }

/*==========  その他のおすすめケーキ  ==========*/

  &.sp-product .css-new .shop-contents-unit {
    margin-top: 30px;
  }

  &.sp-product .sp-container {
    padding-bottom: 0;
  }

  &.sp-product .tab_box {
    margin: 0 15px;
    width: auto;
  }

  &.sp-product .css-new h1.item-product-name {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    color: #000;
  }

  &.sp-product .flo-shop-sp {
    margin: 20px 15px;
  }

  .css-new h2 {
    margin: 0 0 15px;
    color: #000;
    border-bottom: solid 3px #000;
    padding: 0 0 5px;
    width: auto;
  }

  .css-new h2::before {
    content: none;
  }

  &.sp-product .sp-container {
    padding-bottom: 0;
  }

  .reservecakeichiran .reserveshouhin:last-child .canreserve,
.reservecakeichiran .reserveshouhin:nth-last-child(2) .canreserve,
	.reservecakeichiran .reserveshouhin:nth-last-child(3) .canreserve {
    margin-bottom: 0;
  }

  &.sp-product .css-new .shop-contents-unit .moremenyuichiran {
    margin: 8px 0 25px;
  }

  &.sp-product .css-new .shop-contents-unit .moremenyuichiran a {
    color: #c7000b;
  }

  &.sp-product .css-new .shop-contents-unit .moremenyuichiran::after {
    content: "＞";
    margin-left: 3px;
    color: #c7000b;
  }

  .reservecakeichiran .reserveshouhin .cakekakaku {
    color: #000;
  }

  .reservecakeichiran .reserveshouhin .canreserve {
    background: #c4003d;
  }

/*==========  menu list  ==========*/
  .flo-shop-sp {
    text-align: left;
    position: relative;
    margin-top: 20px;
  }

  .flo-shop-sp .shop-name {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .flo-shop-sp .flo-tag {
    display: inline-block;
    color: #000;
    background: #e5e5e5;
    font-size: 12px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px 0 3px;
    margin-bottom: 10px;
  }

  .flo-shop-sp .shop-detail {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2px;
  }

  .flo-shop-sp .shop-detail dt,
.flo-shop-sp .shop-detail dd {
    display: inline-block;
    font-size: 13px;
  }

  .flo-shop-sp .shop-detail dt {
    word-break: keep-all;
    position: relative;
  }

  .flo-shop-sp .shop-detail dt:after {
    content: ":";
    position: relative;
    padding-right: 5px;
  }

  .flo-shop-sp .shop-detail dd a {
    color: #cb141a;
    padding: 0 3px;
  }

  .flo-ttl {
    color: #000;
    border-top: none;
    border-bottom: 2px solid #000;
    padding: 0 0 8px;
    background-image: none;
    font-size: 16px;
    width: auto;
    margin: 30px 0 0;
  }

  .flo-ttl::before {
    content: none;
  }

  .flo-ttl span {
    font-size: 70%;
    padding-left: 0.5em;
  }

/*==========  cake list  ==========*/

  .flo-ttl {
    margin: 30px 0 0;
  }

  .cake_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cake_list li {
    width: calc(96%/2);
    margin-top: 10px;
    position: relative;
    padding-bottom: 65px;
  }

  .cake_list .p-f1 {
    font-size: 11px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .cake_list .p-pr {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    bottom: 40px;
  }

  .cake_list .card-cover__wrapper img {
    max-width: 186px;
    max-height: 186px;
    width: 100%;
    margin-bottom: 7px;
  }

  .cake_list .canreserve {
    display: block;
    background: #C4003D;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 10px;
    margin: 0;
  }

/*==========  map  ==========*/

   h3.map_app {
    width: auto;
    display: block;
    text-align: right;
    padding-right: 0!important;
    padding-top: 0;
    border-bottom: none;
    margin: 5px 0 0 0;
  }

   h3.map_app p {
    width: auto;
    top: 0;
    display: inline-block;
    position: initial;
    padding: 0 10px;
    height: auto;
    background: #c4003d;
  }

   h3 p a.toMap {
    background: none;
    padding: 0;
  }

   h3 p a.toMap::before {
    content: "";
    display: inline-block;
    background: url(../mobile/images/icon_map_active.png)no-repeat;
    background-size: 100%;
    width: 11px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
  }

   .info_table {
    border: solid 1px #000;
    font-size: 12px;
    margin: 10px 0;
  }

   .info_table tr {
    border-bottom: solid 1px #000;
  }

   .info_table tr:last-child {
    border-bottom: none;
  }

   .info_table th {
    border-right: solid 1px #000;
    padding: 7px;
    vertical-align: top;
    width: 22%;
    font-weight: normal;
    text-align: right;
    background: #fff;
    color: #000;
  }

   .info_table td {
    padding: 7px;
  }
  &.flo-map-sp {
    .sp-container.clearfix {
      min-height: 0;
    }
  }


/*==========  footer  ==========*/
/*
	footer{
		margin-top: 0;
	}
.footer-common{
	position: relative;
}

footer .sitemap{
	border-top: solid 1px #c4003d;
	}

footer .sitemap li{
	border-top: solid 1px #c4003d;
	padding: 15px 0;
	font-size: 13px;
	text-align: center;
}

footer .sitemap li.right{
		text-align: right;
    padding: 12px 10px;
	}


footer .copylight{
	text-align: center;
	color: #fff;
	padding: 10px 0;
	background: #c4003d;
	    font-size: 10px;
}

.footer_logo{
	    display: block;
    margin: 0 auto 20px;
}


	*/
footer {
  z-index: 0!important;
}

footer .site_map {
  background-color: #C4003D;
}

footer .footer_nav {
  padding: 40px 0;
}

footer .nav_list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 15px;
  list-style: none;
}

footer .nav_list li {
  margin-right: 0;
  margin-bottom: 15px;
}

footer .nav_list li:last-child {
  margin-bottom: 0;
}

footer .nav_list > li.w_100 {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer .nav_list li a {
  color: #FFF;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

footer .nav_list .sub {
  flex-wrap: wrap;
  display: flex;
  margin-top: 5px;
  list-style: none;
}

footer .nav_list .sub li {
  margin-right: 0;
  width: calc(100% / 3);
}

footer .nav_list .sub li a {
  padding-left: 15px;
}

footer .nav_list .sub li a::before {
  content: '';
  display: block;
  z-index: 3;
  width: 4px;
  height: 4px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  color: currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
}

footer .nav_list li.link_container {
  display: inline-block;
}

footer .nav_list li.link_container > ul {
  display: flex;
  flex-wrap: wrap;
}

footer .nav_list li.link_container > ul > li {
  width: calc(100%/2);
}

footer .footer_info {
  background-color: #FFF;
}

footer .footer_info .inner {
  margin: 20px 0;
}

footer .footer_info .fttr_logo {
  display: block;
  text-align: center;
  margin-top: 10px;
}

footer .snslist {
  order: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

footer .snslist li {
  list-style-type: none;
  margin-right: 10px;
}

footer .snslist li a {
  display: flex;
  align-items: center;
  border: 1px solid #DCDCDC;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: 0.8s;
}

.img100 img, .contents img, .inner img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

footer .footer_info nav {
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

footer .footer_info nav a {
  color: #000!important;
  text-decoration: none;
  position: relative;
  font-size: 12px;
}

footer .footer_info nav a::after {
  content: "|";
  display: inline-block;
  color: #DCDCDC;
  padding: 0 8px;
}

footer .footer_info nav a:last-child::after {
  content: none;
}

footer .footer_info small {
  color: #000;
  font-size: 11px;
  display: block;
  text-align: center;
}

#page-top {
  position: fixed;
  bottom: 70px;
  right: -7px;
  font-size: 77%;
}

#page-top a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  text-align: center;
  display: block;
  border-radius: 5px;
  opacity: .8;
}

#page-top a:hover {
  text-decoration: none;
}

footer .footer_line {
  height: 35px;
  width: 100%;
  background: #C4003D;
}

.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reposition {
  overflow: hidden;
  position: relative;
}

.fb_invisible {
  display: none;
}

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

.fb_reset>div {
  overflow: hidden;
}

@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fb_animate {
  animation: fb_transform .3s forwards;
}

.fb_dialog {
  background: rgba(82, 82, 82, .7);
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_dialog_advanced {
  border-radius: 8px;
  padding: 10px;
}

.fb_dialog_content {
  background: #fff;
  color: #373737;
}

.fb_dialog_close_icon {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px;
}

.fb_dialog_mobile .fb_dialog_close_icon {
  left: 5px;
  right: auto;
  top: 5px;
}

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.fb_dialog_close_icon:hover {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
}

.fb_dialog_close_icon:active {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
}

.fb_dialog_iframe {
  line-height: 0;
}

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.fb_dialog_content .dialog_title>span {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px;
}

body.fb_hidden {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  transform: none;
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001;
}

.fb_dialog.fb_dialog_mobile.loading.centered {
  background: none;
  height: auto;
  min-height: initial;
  min-width: initial;
  width: auto;
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
  background: none;
}

.loading.centered #fb_dialog_loader_close {
  clear: both;
  color: #fff;
  display: block;
  font-size: 18px;
  padding-top: 20px;
}

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none;
}

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden;
}

.fb_dialog_mobile .fb_dialog_iframe {
  position: sticky;
  top: 0;
}

.fb_dialog_content .dialog_header {
  background: linear-gradient(from(#738aba), to(#2c4987));
  border-bottom: 1px solid;
  border-color: #1d3c78;
  box-shadow: white 0 1px 1px -1px inset;
  color: #fff;
  font: bold 14px Helvetica, sans-serif;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.fb_dialog_content .dialog_header table {
  height: 43px;
  width: 100%;
}

.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .touchable_button {
  background: linear-gradient(from(#4267B2), to(#2a4887));
  background-clip: padding-box;
  border: 1px solid #29487d;
  border-radius: 3px;
  display: inline-block;
  line-height: 18px;
  margin-top: 3px;
  max-width: 85px;
  padding: 4px 12px;
  position: relative;
}

.fb_dialog_content .dialog_header .touchable_button input {
  background: none;
  border: none;
  color: #fff;
  font: bold 12px Helvetica, sans-serif;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.fb_dialog_content .dialog_content {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #4a4a4a;
  border-bottom: 0;
  border-top: 0;
  height: 150px;
}

.fb_dialog_content .dialog_footer {
  background: #f5f6f7;
  border: 1px solid #4a4a4a;
  border-top-color: #ccc;
  height: 40px;
}

#fb_dialog_loader_close {
  float: left;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden;
}

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.fb_iframe_widget iframe {
  position: absolute;
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
  max-width: 100%;
}

.fb_iframe_widget_fluid_desktop iframe {
  min-width: 220px;
  position: relative;
}

.fb_iframe_widget_lift {
  z-index: 1;
}

.fb_iframe_widget_fluid {
  display: inline;
}

.fb_iframe_widget_fluid span {
  width: 100%;
}
.header-sp ul.t-path li span:before {
  content: none;
}
/*==========  タブ  ==========*/

  .tab_box {
    border-bottom: solid 2px #000;
    display: block;
    margin: 20px 0 10px;
    width: 100%;
    padding: 0;
    font-size: 0;
  }

  .tab_box li {
    background: #fff;
    width: calc(100%/2);
    display: inline-block;
    z-index: -10;
  }

  .tab_box li a {
    color: #000;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
  }



/*  active　共通  */
  li.active {
    background: #000;
    border-bottom: solid 1px #000;
  }

  .tab_box li.active a {
    color: #fff;
  }

/*  active menu  */
  .tab_box li.active a.tab_menu::before {
    content: "";
    background: url(../mobile/images/icon_menu_active.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 8px;
  }

  .tab_box li a.tab_map::before {
    content: "";
    background: url(../mobile/images/icon_map_inactive.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 16px;
    height: 19px;
    vertical-align: text-top;
    margin-right: 8px;
  }


/*  active map  */
  .tab_box li a.tab_menu::before {
    content: "";
    background: url(../mobile/images/icon_menu_inactive.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    margin-right: 8px;
  }

  .tab_box li.active a.tab_map::before {
    content: "";
    background: url(../mobile/images/icon_map_active.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 16px;
    height: 19px;
    vertical-align: text-top;
    margin-right: 8px;
  }
  span.light-green {
      color: #c4003d;
      border-bottom: solid 1px #c4003d;
  }
  .info_table {
    width: 100%;
  }
